# Prerequisites
*.d
*.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/tasks.json
2022-09-21/main
Class Notes/2022-10-17/default
Class Notes/2022-10-19/default
Class Notes/2022-10-19/copying
Homework/Homework 3/hopefully
Homework/Homework 3/HW_02
Homework/Homework 4/HW_01
Homework/Homework 4/HW_02
Class Notes/2022-11-02/default
Class Notes/2022-11-07/functions
Homework/Homework 5/default
Class Notes/2022-11-09/default
